<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand logo" href="{{url 'chat' }}">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-right">
            <li class="nav-item">
                {{#if auth}}
                    <a href="{{url 'logout'}}" class="nav-link">
                        Log out
                    </a>
                {{/if}}
            </li>
        </ul>
    </div>
</nav>