<div class="cover">
    <div class="inner-cover">
        <h1> Hello, <span id="login">{{login}}</span>!</h1>
        <form method="post" action="">
            <h5 class="text-uppercase bold main-header"> </h5>
            {{#if errors}}
                <div class="alert alert-danger" role="alert">
                    {{#each errors}}
                        <li>{{this.msg}}</li>
                    {{/each}}
                </div>
            {{/if}}
            <div class="row px-md-5">
                <div class="col-sm-8">
                    <input type="text" id="title" name="title" class="form-control" value="" required>
                    <div class="invalid-feedback">
                        Chat name shouldn't be empty.
                    </div>
                    <div id="connection" class="alert alert-danger connection-message" role="alert">
                        Your internet connection is missing.
                    </div>
                </div>
                <div class="col-sm-3">
                    <input type="submit" class="btn btn-success btn-sm w-100" value="New chat">
                </div>
            </div>
        </form>
        <table class="table table-striped" id="chats">
            <tr>
                <td>id</td>
                <td>title</td>
                <td>creator</td>
                <td>messages</td>
                <td>created_at</td>
                <td></td>
            </tr>
            {{#if chats}}
                {{#each chats}}
                    {{> chat chat=this login=../login}}
                {{/each}}
            {{/if}}
        </table>
    </div>
</div>
<script src="/js/chat.js"></script>
<script src="/js/view.js"></script>
