<div class="cover">
    <div class="inner-cover">
        <h1> Hello, <span id="login">{{login}}</span>!</h1>
        <form method="post" action="">
            <h5 class="text-uppercase bold main-header"> </h5>
            {{#if errors}}
                <div class="alert alert-danger" role="alert">
                    {{#each errors}}
                        <li>{{this.msg}}</li>
                    {{/each}}
                </div>
            {{/if}}
            <div class="row px-md-5">
                <div class="col-sm-8">
                    <input type="text" id="title" name="title" class="form-control" value="" required>
                </div>
                <div class="col-sm-3">
                    <input type="submit" class="btn btn-success btn-sm w-100" value="New chat">
                </div>
            </div>
        </form>
        <table class="table table-striped" style="width: 800px" id="chats">
            <tr>
                <td>id</td>
                <td>title</td>
                <td>creator</td>
                <td>messages</td>
                <td>created_at</td>
                <td></td>
            </tr>
            {{#if chats}}
                {{#each chats}}
                    {{> chat chat=this login=../login}}
                {{/each}}
            {{/if}}
        </table>
    </div>
</div>
<script>
    $(function () {
        const socket = io();
        const title = $('#title');

        $('form').submit(async function(e){
            e.preventDefault();

            let type = 'POST';
            let href = $(this).attr('action');
            let str = $(this).serialize();

            let response = await request(type, href, str, function(result) {
                return result;
            });

            if(response) {
                socket.emit('chatCreate', {chat: response});
            }

            title.val(' ');
        });

        socket.on('chatAdd', async function(data){
            let login = "{{login}}";
            let chat = data.chat;
            console.log(chat);

            let type = 'POST';
            let href = '/chat-row-template';
            let str = {login: login, chat: JSON.stringify(chat)};

            let response = await request(type, href, str, function(result) {
                return result;
            });

            $("table").append(response);
        });

        $('#chats').on('click', '.chatDelete', async function(e) {
            e.preventDefault();

            let type = 'DELETE';
            let href = $(this).attr('href');
            let str = {};

            let response = await request(type, href, str, function(result) {
                return result;
            });

            if(response) {
                socket.emit('chatRemove', {id: response.id});
            }

            return false;
        });

        socket.on('chatDelete', function(data) {
            $("#tr"+data.id).remove();
        });

        socket.on('messageAddGlobal', function(data) {
            let chatId = data.message.chatId;
            let numberEl = $("#tr"+ chatId +" .number");
            let count = parseInt(numberEl[0].innerText);

            numberEl[0].innerHTML = count + 1;
        });
    });
</script>
