<div class="cover">
    <div class="inner-cover">
        <form method="post" action="" class="registration-form needs-validation" novalidate>
            <h5 class="text-uppercase bold main-header"> Create account </h5>
            {{#if errors}}
                <div class="alert alert-danger" role="alert">
                    {{#each errors}}
                        <li>{{this.msg}}</li>
                    {{/each}}
                </div>
            {{/if}}
            <div class="form-group">
                <label for="name">Login</label>
                <input type="text" id="name" name="login" class="form-control" value="{{login}}" required>
                <div class="invalid-feedback">
                    Please choose a login.
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control
                {{#if errors}}
                    {{#each errors}}
                        {{#equal this.param 'password'}}
                            is-invalid
                        {{/equal}}
                    {{/each}}
                {{/if}}
                " value="{{password}}" required>
                <div class="invalid-feedback">
                    Please choose a password.
                </div>
            </div>
            <input type="submit" class="btn btn-success btn-lg w-100" value="Register">
            <p>Have an account?<a href="{{url 'login'}}">&nbsp;Sign in</a></p>
        </form>
    </div>
</div>